@import './mixins.scss';

// colors
$accent: #50cb82;
$accent_dark: darken($accent, 20);
$black: #213529;
$grey: #e6e6e6;
$light_grey: #f5f5f5;
$dark_grey: #b3b3b3;
$text: #000;

// dimens
$small: 4px;
$medium: $small * 2;
$large: $small * 4;
$radius_small: .2em;

* {
  outline: none;
}

.container {
  padding: $medium;
  margin: $medium;

  @media (max-width: 767px) {
    padding: $small;
    margin: $small;
  }

}

.container-header {
  @extend .source-sans;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $medium 0;
}

.filter-header {
  display: flex;
  align-items: center;
  font-weight: lighter;
  justify-content: flex-start;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.source-code {
  font-family: 'Source Code Pro', sans-serif;
}

.source-serif {
  font-family: 'Source Serif Pro', sans-serif;
}

.container-title {
  font-size: 16pt;
  font-weight: lighter;
}

.fluid {
  margin-left: 0;
  margin-right: 0;
}

.container-small {
  padding: $small;
  margin: $small;
}

.box {
  border: 1px solid $dark_grey;
}

.well {
  background: #f7f7f7;
}

.separator {
 background-color: $grey;
 height: 1px;
}

.rounded {
  border-radius: $radius_small / 2;
}

.input-element {
  margin: $small;
  padding: $medium;
}

.sans-serif {
  font-family: sans-serif;
}

.input-group {
  @extend .sans-serif;
  display: inline-block;
  border: 1px solid $dark_grey;
  border-radius: $radius_small;
  padding: $medium;
  margin: $medium;

  .input-label {
    font-size: 14pt;
    margin-bottom: $medium;
    font-weight: lighter;
  }

  input {
    color: #232323;
    border: 1px solid $grey;
    border-radius: $radius_small / 2;
    padding: $small;
    font-size: 16pt;
  }

}

.input-inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: $medium;
  border: 1px solid $dark_grey;
  border-radius: $radius_small;

  @media (max-width: 767px) {
    display: flex;
    flex: 1;
    margin-right: 0;
    margin-bottom: $medium;
    justify-content: flex-start;
  }

  .input-label {
    text-align: center;
    min-width: 40px;

    @media (min-width: 768px) {
      min-width: 60px;
    }
  }

  input {
    border: none;
    border-left: 1px solid $dark_grey;
    padding: $medium;
  }
  
}

.borderless {
  border: none; 
}

.text-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16pt;
  color: $accent;
  padding: $small $medium;

  &.highlighted {
    // border-radius: $radius_small;
    // background-color: $light_grey;

    // &:active {
    //   background-color: darken($light_grey, 10);
    // }
  }
  
}

.button {
  @extend .input-element;
  @extend .sans-serif;
  $color: black;
  cursor: pointer;
  border: none;
  color: $black;
  background-color: $light_grey;
  display: inline-block;
  border-radius: $radius_small;
  text-decoration: none;

  &:visited {
    text-decoration: none;
    color: $color;
  }

  &:active {
    background-color: darken($light_grey, 10);
  }
}

.title-first {
  margin: 0;
  padding: $medium;
  font-size: 22pt;
}

body {
  margin: 0;
  padding: 0;
}